.home{

}
.jumbotron{
  color: #FFF;
  min-height: 350px;
  background: #000 url(https://source.unsplash.com/category/objects/1200x600);
  //background: #000 url(http://feelgrafix.com/data_images/out/28/1002785-daft-punk.jpg);
  //background-size: 50%;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}
